 {% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MOVPUC — Controle de bikes</title>
  <link rel="stylesheet" href="static/aluno.css">
  <link rel="stylesheet" href="static/cabEFoot.css">
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&family=Figtree:wght@400;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="cab">
    <div class="logo">
      <img src="img/logo.png" class="bike" alt="">
      <p class="brand">MOVPUC</p>
    </div>
    <nav class="nav">
      <a href="#" class="navlink ativo">aluno</a>
      <a href="login.html" class="perfil">👤</a>
    </nav>
  </header>
  <main class="container">
    <section class="hero">
      <h1>Controle de bikes da PUC</h1>
      <p>Veja vagas, reserve sua bike e acompanhe em tempo real!</p>
    </section>

    <section class="grid">
      <div class="acoes">
        <a class="btn btn-green" href="reservaBikes.html">Reservar agora</a>
        <a class="btn btn-gray" href="#">Vagas disponíveis</a>
        <a class="btn btn-navy" href="#">Mapa interativo</a>
      </div>

      <figure class="mapa">
        <img src="img/mapacampus.png" alt="Mapa do campus">
      </figure>
    </section>

    <section class="painel">
      <div class="cta">
        <p class="cta__numero">32</p>
        <p class="cta__texto">Vagas disponíveis</p>
      </div>

      <div class="cards">
        <div class="card card-gray">
          <p class="kpi__numero">18</p>
          <p class="kpi__texto">Bikes em uso</p>
        </div>
        <div class="card card-green">
          <p class="kpi__numero">12</p>
          <p class="kpi__texto">Reservas</p>
        </div>
      </div>
    </section>
  </main>

  <footer class="rodape">
    <nav class="rodape__links">
      <a href="sobre.html">Sobre</a>
      <span>·</span>
      <a href="#">Suporte</a>
      <span>·</span>
      <a href="contato.html">Contato</a>
    </nav>
  </footer>

</html>
