{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cadastro • MOVPUC</title>
  <link rel="stylesheet" href="{% static 'app_usuarios/css/cadastros.css' %}" />
  <link rel="stylesheet" href="{% static 'app_usuarios/css/cabEFoot.css' %}" />
</head>
<body>

  <header class="cab">
   <div class="logo">
   <a href="{% url 'index' %}" ><img src="/static/app_usuarios/img/logo.png" class="bike" alt=""></a>    
   <p class="brand">MOVPUC</p>
    </div>
    <nav class="nav">
      <a href="{% url 'aluno' %}" class="navlink">aluno</a>
      <a href="{% url 'seguranca' %}" class="navlink">funcionário</a>
      <a href="{% url 'login' %}" class="perfil">👤</a>
    </nav>
  </header>

  <main>
    <section class="heading">
      <h1>Crie sua conta</h1>
      <p>Cadastre-se para reservar bikes e acompanhar em tempo real.</p>
    </section>

    <form class="form" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button class="btn" type="submit">Criar conta</button>

      <p class="alt">
        Já tem conta? <a class="link" href="{% url 'login' %}">Entrar</a>
      </p>
    </form>
  </main>

  <footer class="rodape">
    <nav class="rodape__links">
      <a href="{% url 'sobre' %}">Sobre</a>
      <span>·</span>
      <a href="{% url 'contato' %}">Contato</a>
    </nav>
  </footer>

</body>
</html>
