Ativar as notificações na área de trabalho para o Gmail.
   OK  Agora não(a)
1 de 2.543
paginas bicalhos
Caixa de entrada

Giovana Pavanelli
Anexos
21:43 (há 9 minutos)
para mim


 4 anexos
  •  Verificados pelo Gmail

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Controle de Bikes da PUC</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="cabEFoot.css">

</head>
<body>
  <header class="cab">
    <div class="logo">
      <img src="img/logo.png" class="bike" alt="">
      <p class="brand">MOVPUC</p>
    </div>
    <nav class="nav">
      <a href="#" class="navlink">aluno</a>
      <a href="#" class="navlink">funcionário</a>
      <a href="login.html" class="perfil">👤</a>
    </nav>
  </header>


  <main>
    <section class="hero">
      <div class="hero__text">
        <h1>Controles de Bikes da PUC</h1>
        <p>Veja vagas, <a href="#">reserve sua bike</a> e acompanhe em tempo real.</p>
        <button class="btn">Ver vagas disponíveis</button>
      </div>
      <div class="hero__art">
        <img src="img/person.png" alt="Pessoa andando de bicicleta">
      </div>
    </section>

    <section class="stats">
      <div class="card azul">
        <span class="num">32</span>
        <span class="label">Vagas disponíveis</span>
      </div>
      <div class="card cinza">
        <span class="num">18</span>
        <span class="label">Bikes em uso</span>
      </div>
      <div class="card verde">
        <span class="num">12</span>
        <span class="label">Reservas ativas</span>
      </div>
    </section>

    <section class="how">
      <div class="mapa">
        <img src="img/mapa.png" alt="mapa">
      </div>
      <div class="textos">
        <h2>Como funciona</h2>
        <ul>
          <li>👁️ Veja as vagas</li>
          <li>📅 Reserve sua bike</li>
          <li>🪖 Dirija com segurança</li>
        </ul>
      </div>
    </section>
  </main>

  <footer class="rodape">
  <footer class="rodape">
    <nav class="rodape__links">
      <a href="sobre.html">Sobre</a>
      <span>·</span>
      <a href="#">Suporte</a>
      <span>·</span>
      <a href="contato.html">Contato</a>
    </nav>
  </footer>
</body>
</html>
