{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - MOVPUC</title>
  <link rel="stylesheet" href="{% static 'app_usuarios/css/loging.css' %}" />
  <link rel="stylesheet" href="{% static 'app_usuarios/css/cabEFoot.css' %}" />
</head>

<body>
  <header class="cab">
    <div class="logo">
    <a href="{% url 'index' %}" ><img src="/static/app_usuarios/img/logo.png" class="bike" alt=""></a>
      <p class="brand">MOVPUC</p>
    </div>
    <nav class="nav">
      <a href="{% url 'aluno' %}" class="navlink">aluno</a>
      <a href="{% url 'seguranca' %}" class="navlink">funcionário</a>
      <a href="{% url 'login' %}" class="perfil">👤</a>
    </nav>
  </header>

  <!-- Conteúdo principal -->
  <main>
    <div class="login-box">
      <h2>Login</h2>

      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn">Entrar</button>
      </form>

      {% if form.errors %}
        <p style="color:red;">Usuário ou senha incorretos.</p>
      {% endif %}

      <p class="cadastro">
        Não possui conta?
        <a href="{% url 'cadastro' %}">Cadastre-se aqui</a>
      </p>

      <p class="cadastro">
        <a href="{% url 'esqueci_senha' %}">Esqueci minha senha</a>
      </p>
    </div>
  </main>

  <footer class="rodape">
    <nav class="rodape__links">
      <a href="{% url 'sobre' %}">Sobre</a>
      <span>·</span>
      <a href="{% url 'contato' %}">Contato</a>
    </nav>
  </footer>
</body>
</html>
