<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./reservaBikes.css">
    <link rel="stylesheet" href="cabEFoot.css">

    <title>Página Reserva de Vagas Bikes</title>
</head>

<body>
    <div class="pagina">
        <header class="cab">
            <div class="logo">
                <img src="img/logo.png" class="bike" alt="MOVPUC">
                <p class="brand">MOVPUC</p>
            </div>
            <nav class="nav">
                <a href="#" class="navlink ativo">aluno</a>
                <a href="login.html" class="perfil">👤</a>
            </nav>
        </header>
        <div class="estacionamentos">
            <p class="separate">Central</p>
            <p>Fundos</p>
        </div>
        <div class="mapa">
            <div class="imagem">
                <img src="imgs/mapa.png" alt="">
            </div>
            <div class="texto">
                <div class="header">
                    <p>Reservar vaga - 17/10</p>
                </div>
                <p>Reservar sua vaga em uma bolinha verde!</p>
                <div class="bottom">
                    <p>Vagas Totais: 82</p>
                    <p>Vagas Restantes: 0</p>
                </div>
            </div>

        </div>
        <footer class="rodape">
            <nav class="rodape__links">
                <a href="sobre.html">Sobre</a>
                <span>·</span>
                <a href="#">Suporte</a>
                <span>·</span>
                <a href="contato.html">Contato</a>
            </nav>
        </footer>
    </div>
</body>

</html>