<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./scanBikes.css">
    <link rel="stylesheet" href="cabEFoot.css">

    <title>Página Reserva de Scan das PBikes</title>
</head>

<body>
    <header class="cab">
        <div class="logo">
            <img src="img/logo.png" class="bike" alt="MOVPUC">
            <p class="brand">MOVPUC</p>
        </div>
        <nav class="nav">
            <a href="#" class="navlink ativo">funcionário</a>
      <a href="login.html" class="perfil">👤</a>
        </nav>
    </header>
    <div class="mapa">
        <div class="imagem">
            <img src="imgs/tela_scanner.png" alt="">
        </div>
    </div>
  <footer class="rodape">
    <nav class="rodape__links">
      <a href="sobre.html">Sobre</a>
      <span>·</span>
      <a href="#">Suporte</a>
      <span>·</span>
      <a href="contato.html">Contato</a>
    </nav>
  </footer>
    </div>
</body>

</html>