 {% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/scanConcludedLeaving.css">
    <link rel="stylesheet" href="static/cabEFoot.css">

    <title>Página Conclusão de Scan das Bikes</title>
</head>

<body>
    <header class="cab">
        <div class="logo">
            <img src="img/logo.png" class="bike" alt="MOVPUC">
            <p class="brand">MOVPUC</p>
        </div>
        <nav class="nav">
            <a href="#" class="navlink ativo">funcionário</a>
      <a href="login.html" class="perfil">👤</a>
        </nav>
    </header>
    <div class="mapa">
        <div class="reconhecido">
            <p>Aluno reconhecido!</p>
        </div>
        <div class="imagem">
            <img src="static/img/icone.png" alt="">
        </div>
        <div class="infos">
            <p>Nome: Fulano</p>
            <p>Matrícula: 2510000</p>
            <div class="red">Saindo</div>
            <p>Tempo de estadia: XX:XX</p>
            <p>Horário de Entrada: XX:XX</p>
            <p>Horário de Saída: XX:XX</p>
        </div>
    </div>
  <footer class="rodape">
    <nav class="rodape__links">
      <a href="sobre.html">Sobre</a>
      <span>·</span>
      <a href="#">Suporte</a>
      <span>·</span>
      <a href="contato.html">Contato</a>
    </nav>
  </footer>
    </div>
</body>

</html>