 {% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MOVPUC — Segurança</title>
  <link rel="stylesheet" href="/static/app_usuarios/css/cabEFoot.css">
  <link rel="stylesheet" href="/static/app_usuarios/css/seguranca.css">
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&family=Figtree:wght@400;600;700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="cab">
    <div class="logo">
      <a href="{% url 'index' %}" ><img src="/static/app_usuarios/img/logo.png" class="bike" alt=""></a>
      <p class="brand">MOVPUC</p>
    </div>
    <nav class="nav">
      <a href="{% url 'seguranca' %}" class="navlink ativo">funcionário</a>
      <a href="{% url 'login' %}" class="perfil">👤</a>

    </nav>
  </header>

  <main class="wrap">
    <div class="stack">
      <button class="btn btn-primary">
        <img src="/static/app_usuarios/img/qrcodeemoji.png" alt="" class="icon">
        <a href="{% url 'scan_seg' %}">Escanear código</a>
      </button>
      <a href="{% url 'reserva_bikes' %}" class="btn btn-soft">
        <p class="icon">☑️</p>
        <p>Ver vagas</p>
      </a>
   
      <div class="grid2">
        <div class="card kpi">
          <p><strong>XX</strong> Bikes em uso</p>
        </div>
        <div class="card kpi">
          <p><strong>XX</strong> Reservas</p>
        </div>
      </div>
    </div>
  </main>

  <footer class="rodape">
    <nav class="rodape__links">
      <a href="{% url 'sobre' %}">Sobre</a>
      <span>·</span>
      <a href="{% url 'contato' %}">Contato</a>
    </nav>
  </footer>

</html>